$bg-primary: #3aafa9;
$hover: #2b7a78;
$text-light: #17252a;
$bg-secondary: #17252a;
$bg-light: #def2f1;
$bg-blue: #1d2636;
$white: #ffffff;
$black: #000;
$gray: #c2c5cc;
$blue: #2d3954;
$border: #1015121f;
$box-shadow: rgb(112 121 138 / 18%);
