@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --bg-primary: #3aafa9;
  --hover: #2b7a78;
  --bg-secondary: #17252a;
  --text-light: #17252a;
  --bg-light: #def2f1;
  --bg-blue: #1d2636;
  --white: #ffffff;
  --gray: #c2c5cc;
  --black: #000;
  --blue: #2d3954;
  --border: #1015121f;
  --box-shadow: rgb(112 121 138 / 18%);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--white);
}
