.searchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.type {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.active {
  background-color: var(--bg-primary);
}
.noActive {
  background-color: var(--bg-light);
  color: var(--gray);
}
.searchForm {
  display: flex;
  height: 54px;
  gap: 10px;
  border-radius: 5px;
  padding: 10px 20px;
  width: 100%;
  opacity: 0.94;
  background-color: var(--white);
}
.searchForm input {
  width: 200px;
}

input::placeholder {
  font-size: 16px;
  color: var(--bg-blue);
  opacity: 0.4;
}

.searchForm link,
button {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 756px) {
  .searchBar {
    margin: 0 10px;
    width: 100%;
  }
  .searchForm {
    display: flex;
    gap: 10px;
    border-radius: 5px;
    padding: 10px 20px;
    opacity: 0.94;
    background-color: var(--white);
    flex-direction: column;
    height: 100%;
  }
  .searchForm link,
  button {
    width: 100%;
  }
}
