.contact .shadow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
form .contactDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
form .contactDiv label {
  padding-left: 10px;
  padding-bottom: 8px;
}
.contactWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
form .contactInput {
  padding-left: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  line-height: 50px;
  border: 1px solid rgb(254, 254, 254, 0.4);
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgb(112 121 138 / 18%);
}
form .contactInput::placeholder {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .contact h2 {
    width: 100%;
    color: rgb(171, 174, 176);
  }
  .contact form div {
    flex-direction: column;
  }
  .contact input {
    width: 100%;
  }
}
