.hero {
  background-image: url("../../../../public/images/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero h1 {
  color: #fff;
  font-size: 60px;
}
.hero p {
  color: #fff;
  opacity: 0.8;
}

.searchBarSec {
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading {
  width: 100%;
  margin-bottom: 2rem;
}

@media screen and (max-width: 756px) {
  .hero {
    height: 100vh;
    width: 100%;
    display: flex;
  }

  .hero .headingSec {
    margin-bottom: 18px;
  }

  .searchBarSec {
    padding: 0 30px;
    width: 100%;
  }
}
