.tileMainWrapper {
  width: 260px;
  height: 120px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 6px solid #27ae60;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #949896;
}
.numberWrapper {
  font-size: 20px;
  color: rgb(105, 105, 105);
}
.itemWrapper {
  font-size: 18px;
  color: rgb(144, 144, 144);
}
.chartView {
  width: 100%;
  overflow-x: scroll;
}

@media screen and (max-width: 768px) {
  .tileMainWrapper {
    width: 90%;
  }
  .featuredWrapper {
    width: 100vw;
  }
}
